


@keyframes grow {
    0% {
        transform: scale(100%, 100%) rotate(0);
    }

    33% {
        transform: scale(102%, 102%) rotate(5deg);

    }

    66% {
        transform: scale(105%, 105%) rotate(-5deg);
    }

    100% {
        transform: scale(100%, 100%) rotate(0);
    }
}